*{
  box-sizing: border-box;
}

body {
  font-family: 'Spoqa Han Sans', 'Sans-serif';
  color: #FEEB8F;
}

.global-nav{
  background-color : black;
  width : 100%;
  display : flex;
  padding : 20px;
  font-size : 20px;
  font-weight: 600;
}

.modal{
  background-color : #eeeeee;
  color : #000000;
}
